MT_systems/bin
FreeLingModules/analyzer_client
FreeLingModules/analyzer_client.o
FreeLingModules/logtagging
FreeLingModules/output_crf.o
FreeLingModules/server_squoia
FreeLingModules/server_squoia.cc.bak
FreeLingModules/server_squoia.o
FreeLingModules/server_squoia_corrected.cc
FreeLingModules/wapitipaq.txt
MT_systems/maltparser_tools/bin/
MT_systems/maltparser_tools/src/MPClient.class
MT_systems/maltparser_tools/src/MaltParserServer.class
MT_systems/matxin-lex/squoia_xfer_lex
MT_systems/matxin-lex/squoia_xfer_lex.o
MT_systems/models/topic.model
MT_systems/squoia/esqu/compile.log
MT_systems/squoia/esqu/lexica/allVerbs.xml
MT_systems/squoia/esqu/lexica/es-quz.bin
MT_systems/squoia/esqu/outputSentences
MT_systems/storage/InterTransferRules
MT_systems/storage/IntraTransferRules
MT_systems/storage/LexSelRules
MT_systems/storage/MorphSelRules
MT_systems/storage/PrepSelRules
MT_systems/storage/SemLex
MT_systems/storage/VerbLex
MT_systems/storage/child2siblingRules
MT_systems/storage/config.bin
MT_systems/storage/interchunkOrderRules
MT_systems/storage/intrachunkOrderRules
MT_systems/storage/nodes2chunksRules
MT_systems/tmp.txt
MT_systems/tmp/
desrModules/desr_client
desrModules/desr_client.o
desrModules/desr_server
desrModules/desr_server.o
desrModules/logdesr_es4
desrModules/logtagging
desrModules/myinput
desrModules/myoutput
morphology/fsmclient.pl
morphology/fsmserver.class
morphology/fsmserver.java
parsing/input.txt
parsing/tmp/

MT_systems/squoia/esqu/morphgen/unificadoTransfer.fst
MT_systems/logs/
MT_systems/cleanOutput.pl
MT_systems/squoia/esqu/lexica/es-quz.bin.bak
MT_systems/tikray.sh.bak
MT_systems/tikraylluqsisqa5sdlsN
MT_systems/tikray.sh
MT_systems/tikrayYana.pl

mirror.sh
MT_systems/inputsample.txt

MT_systems/squoia/esqu/lexica/es-quz.dix.bak
runservers.sh

MT_systems/squoia/esqu/lexica/es-quz.bin.bak.*
